/* Modal component */

.c-modal {
	position: fixed;;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(#333, .4);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	
	&--close {
		display: none;
	}
	
	&__subtitle{
		text-align: center;
		font-weight: bold;
		font-size: 19px ;
		margin-top: 15px;		
	}

	&__h6Mod{
		text-align: center;
		font-size: 12px;
		margin-top: 15px;
	}

	&__imgModal{
		max-width: 50%;
		margin-left: 27%;
    	margin-top: 15px;
	}

	&__imgModal2{
		max-width: 100%;
	}

	&__title {
		padding-bottom:15px;
		margin: 0 35px 15px 0;
		border-bottom: 1px solid var(--lightGray);
		color: #cf0a2c;
		font-size: 24px;
		font-weight: 700;
	}
	
	&__container {
		background-color: white;
		width: 80vw;
		max-width: 585px;
		border-radius: 3px;
		padding: 30px;
		position: relative;
		border: 0.5px #e8e8e8;
		box-shadow: 6px 6px 15px 1px rgba(#3C4856, .3);
	}
	
	&__button-close {
		position: absolute;
		top: 15px; 
		right: 18px;
		color: var(--darkGray);
		transition: .3s all ease;
		font-size: 32px;
		cursor: pointer;
		
		&:hover {
			color: var(--blueGray);
		}
	}

	&__modalpay{
		cursor: pointer;
		border: none;
		background: none;
		color: #007aff;

		&:hover {
			color: #0f57a3;
		}
	}

	&__txt-banktransf{
		margin: 25px;
		line-height: 2;
	}

	&__pay-efective{
		line-height:2;
		margin:18px;
	}
}

