
@media only screen and (max-width: 1023px){


    /* ----------------------------------------------------------------------- */

    .headerContainer{
        background: #cf0a2c;

    }
    .headerContainer{
        min-height: 34px;
        top: -8px;
        height: 44px;

    }

    .headerContainerEmpty{
        background: #cf0a2c;
        color: #fff;
        height: 58px;
        padding: 3px 0;
        width: 100%;
        z-index: 9999;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    .logo{
        width: 44px;
        height: 32px;
        margin-top: 7px;
        margin-left: -13px;
        cursor: pointer;
    }
    .nav-search{
        height: 48px;
        left: 64px;
    }
    .nav-search{
        position: absolute;
        left: 37px;
        top: 0;
        right: 34px;
        height: 16px;
        padding: 8px 0;
    }

    .nav-search-input{
        border: 0 rgba(0,0,0,.2);
        color: #424242;
        font-weight: 300;
        font-size: 16px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 6px 6px 6px 7px;
    }

    .nav-search-input{
        border: none;
    }

    .nav-search-input{
        width: 100%;
        font-size: 16px;
        outline: 0;
        padding: 5px;
        height: 17px;
        border: 1px solid #e8e8e8;
        background-color: #fff;
    }

    
    .swiper-button-next, .swiper-button-prev{
        display: none;
    }


    .nav-search-btn{
        position: absolute;
        padding: 0;
        background: 0 0;
        border: none;
        font-size: 22px;
        color: #666;
        line-height: 1.3em;
        outline: 0;
    }

    .nav-search-btn{
        cursor: pointer;
        border-radius: 0 2px 2px 0;
        width: 46px;
        border: 0 rgba(0,0,0,.2);
        border-left: 1px solid #e8e8e8;
        background-color: #fff;
        top: 8px;
        right: -9px;
    }
    /*Menu hamburguesa*/
    .line{
        width: 20px;
        height: 1px;
        background: #fff;
        margin: 6px;
    }

    .hamburger{
        position: absolute;
        right: 1.2%;
        top: 1.1%;
        z-index: 2;
        cursor: pointer;
    }


    .header-user-mobile-content{
        background-color: #fff;
        height: auto;
        display: none;
        margin-bottom: 30px;
        z-index: 300;
         position: relative;
    }

    .header-user-mobile-content.open{
        display: block;
        transition: all ease-out;
    }

    .header-user-mobile-info{
        padding: 18px 14px;
        border-bottom: 1px solid #e8e8e8;
    }

    .header-user-mobile ul li {
        list-style: none;
    }
    /*Estilos categorias*/
    .div-category{
        background: white;
        margin-bottom: 1px;
        height: 50px;
        vertical-align: middle;
        line-height: 50px; 

    }

    .title-category{
        margin-top: 22px;
        height: 50px;
        margin-bottom: 3px;
    }

    .title-category h1{
        font-size: 22px;
        color: #424242;
        margin-left: 15px;
    }

    .title-parents{
        margin-left: 15px;
    }

    .cate-container{
        margin-bottom: 23px;
    }

    .clic-cate{
        color: #242424;
        text-decoration: none;
    }

/*End Estilos categorias*/
    .header-user-mobile ul li a{
        display: block;
        min-height: 39px;
        text-decoration: none;
        margin: 0;
        font-weight: 300;
        color: #424242;
    }

    .header-user-mobile ul li a i{
        font-size: 18px;
        display: inline-block;
        margin-right: 16px;
        /* float: left;  */
        color: #424242;
    }

    .nav-links-mobile{
        padding: 18px 25px;
        border-bottom: 1px solid #e8e8e8;
    }

    .header-user-logo img{
        height: 60px;
        cursor: pointer;
    }

    .info_for-user{
        margin-left: 70px;
        position: absolute;
    }

    .info_for-user h3{
        color: #424242;
        font-size: 15px;
        font-weight: 600;
    }

    .info_for-user p{
        color: #424242;
        font-size: 14px;
        font-weight: 300;
    } 
    .mobile-button {
        background-color: #cf0a2c;
    }
    .mobile-getin{
        width: 50%;
        padding: 4px 0;
        border: 1px solid #cf0a2c;
        color: #fff;
        border-radius: .2em;
        font-size: 15px;
        margin: .5em;
        text-align: center;
        line-height: 31px;
        text-decoration: none;
        display: inline-block;
    }

    .mobile-create{
        width: 50%;
        padding: 4px 0;
        border: 1px solid #cf0a2c;
        color: #fff;
        border-radius: .2em;
        font-size: 15px;
        margin: .5em;
        text-align: center;
        line-height: 31px;
        text-decoration: none;
        display: inline-block;
    }

    .header-btns-user{
        display: flex;
    }

    .header-btns-user > a {
        cursor: pointer;
    }


    .navegation{
        margin-left: auto;
        position: relative;
        padding: 15px;
        width: 300px;
    }

    .navegation a{
        color: #fff;
        padding: 0px 6px;
        float: right;
        margin-left: 14px;
        font-size: 16px;
        text-decoration: none;
    }
    .img-search-btn{
        width: 18px;
    }

    .headerContainerCategory{
        background: #cf0a2c;
        color: #fff;
        height: 29px;
        padding: 3px 0;
        width: 100%;
        z-index: 9999;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);  
    }
    .swiper-pagination-bullet-active{
        background: #cf0a2c;
 
    }

    .carousel img {
        width: 100%;
    }


    .headerContainerCategory{
        display: none;
    }
    .navegation{
        display: none;
    }

    .finding .ui__info-finding:first-child{
        margin-left: 0;    
    }

    .finding-body{
       padding-left: 0; 
       display: inline;
    }

    .finding .ui__info-finding{
        width: 100%;
    }



    .finding .promotion__image{
        height: 160px;
        padding: 10px 0 20px 10px;
    }

    .finding .promotion__image img{
        height: 100%;
        width: auto;
    }
    .finding .ui_promotion-title{
        margin-left: 0;
        font-size: 10px;
    }
    .ui_promotion-info{
        margin-left: 0;
        font-size: 20px;
    }

    .btn-promotion{
        margin-left: 0;
        width: 70px;
    }

    .ui__info-finding{
        height: 190px;
    }

    .promotion__info{
        width: 300px;
        height: 126px;
       float: left;
    }
    /*Style register user*/
  
   
    .navegationHelp{
        margin-left: auto;
        position: relative;
        padding: 15px;
        width: 300px;   
    }

    
    .navegationHelp p{
        float: right;
    }

    /*Style information contact, send, segurity*/
    .information{
        background-color: #fff;
        width: 100%;
        margin-bottom: 30px;
        margin-top: 4px;
    }

    .information-user{
       max-width: 1138px;
       margin: 0 auto;
       padding: 27px 0;
       display: flex;
    }

    .information-user-flex{
        width: 33.33%;
        text-align: center;
    }
    .information-user-flex h2{
        text-align: center;
        margin-top: 15px;
        font-size: 19px;
        font-weight: 400;
        color: #424242;
        margin-bottom: 8px;
    }

    .information-user-flex P{
        font-size: 13px;
        font-weight: 300;
        color: #424242;
        width: 236px;
        margin: 0 auto;
    }

    .ico{
        color: #cf0a2c;
        font-size: 48px;
        margin-top: 10px;  
    }

    
    .sw-mobile-banner{
        text-align: center;
    }


    /* Style banner grande category*/

    .item_category-box{
        margin-bottom: 1px;
    }

    .item_category-box:hover{
        background-color: #cf0a2c;
        cursor: pointer;
    }

    .item_category-box{
        background-color: #fff;
        width: 100%;
        height: 155px;
        text-align: center;
    }

    .item_category-box:hover > .icon-category{
        color: #fff;
    }

    .item_category-box:hover > .title-category-box{
        color: #fff;
    }

    .icon-category{
        margin-top: 46px;
        color: #cf0a2c;
        font-size: 48px;  
    }

    .item_category-box h2{
        font-size: 13px;
        color: #424242;
        font-weight: 300;
        line-height: 50px;
    }
    .clock-image{
        width: 51px !important;
        margin-top: 35px;
        font-size: 48px;   
    }

    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 0px;
    }

    .item-slide-category{
     width: 160px !important;
    }

    .item_category-box p {
        font-size: 11px;
    }

    /*Stryle Explore*/

    .main-explore-mobile{
        width: 100%;
        height: 341px;
        background-color: #fff;
        margin-bottom: 20px;
    }

    /*Style blog*/

    .blog-info-social{
        width: 100%;
        background-color: #fff;
        margin-bottom: 30px;
    }

    .blog-info{
        max-width: 1138px;
        display: flex;
        margin: 0 auto;
    }

    .icon_social-news{
        width: 50%;
        height: 150px;
        text-align: center;
    }

    .icon_social-news img{
        width: 280px;
        height: 54px;  
        margin-top: 50px;
    }

    .list-icon{
        display: flex;
        list-style: none;
        margin-top: 50px;
    }

    .list-icon img{
        width: 68px;
        height: 68px;
        float: left;
    }

    #nav-menu-header-change{
        position: absolute;
        top: 0;
        right: -20px;
        height: 50px;
        width: 45px;
        cursor: pointer;
    }


      #nav-menu-header-change:hover
      .wpp-menu-header
      #name-menu-header-info{
        display: block;
      }

      #name-menu-header-info{
        background: #fff;
        margin: 0;
        padding: 0;
        color: #333;
        position: relative;
        display: none;
      }

      /* * Style footer mobile*/
      .nav-footer{
          display: none;
      }
      
      .wp-footer a{
        text-decoration: none;
      }
      .nav-footer-mobile{
        background-color: #cf0a2c;
        width: 97%;
        height: 60px;
        bottom: 0;
        color: #fff;
        padding: 5px;
      }

      .nav-footer-info-mobile{
        width: 81%;
        height: 60px;
        margin: 0 auto;
        display: flex;
      }

      .logo-footer{
        width: 50px;
        height: 43px;
        background-color: #ff002c;
        border-radius: .3em;
        padding: 8px 3px;
        position: absolute;
        -webkit-box-shadow: 0 0 10px -3px rgba(0,0,0,.79);
        -moz-box-shadow: 0 0 10px -3px rgba(0,0,0,.79);
        box-shadow: 0 0 10px -3px rgba(0,0,0,.79)
      }

      .dw-footer{
        width: auto;
        height: 60px;
        float: right;
        margin-left: 66px;
      }

      .dw-footer p {
        line-height: 3.5em;
        font-size: 16px;
        color: #fff;
      }

      .nav-links-footer-mobile{
          padding: 26px 10%;
      }

      .nav-link-footer a{
        display: inline-block;
        width: 50%;
        font-size: 14px;
        line-height: 2.80;
        color: #333;
        white-space: nowrap;  
      }

      .icon_social-news-rl{
        margin-top: 12px;    
      }

      .item-products{
          display: flex;
      }

      .explore-collection-mobile{
        width: 100%;
        height: auto;
      }

      .item-explore-mobile{
        margin: 0;
        width: 100%;   
      }

      .item-explore-mobile{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }

      .items-products-coll_l{
        width: 100%;
        height: 170px;
        margin-bottom: 10px;
        margin-right: 5px;
        background-color: #fff;
      }

      .items-products-coll_r{
        width: 100%;
        height: 170px;
        margin-bottom: 10px;
        margin-right: 5px;
        background-color: #fff;
      }

      .items-products-coll_x{
        width: 100%;
        height: 170px;
        margin-bottom: 10px;
        margin-left: 5px;
        background-color: #fff;
      }

      .items-products-coll_y{
        width: 100%;
        height: 170px;
        margin-bottom: 10px;
        margin-left: 5px;
        background-color: #fff;
      }

      .main-explore-mobile img{
        width: 100%;
        height: 341px;
        margin-bottom: 20px;
      }

}


@media only screen and (max-width: 768px){


     /*Style login user*/
     .main-login{
        background-color: #fff;
        margin: 0 auto;
        padding: 33px 17px;
        margin-top: 48px;
        margin-bottom: 48px;
    }    

    .main-login h1 {
        color: #424242;
        font-weight: 600;
        font-size: 40px;
        text-align: center;
    }

    .input_form-login{
        color: #424242;
        font-weight: 300;
        width: 96%;
        height: 20px;
        border: 1px solid #e8e8e8;
        border-radius: 3px;
        padding: 7px;
    }

    .label-login{
        padding: 8px 0px;
        color: #424242;
        font-weight: 600;
    }

    .auth_form-login{
        display: inline-grid;
        width: 100%;
    }

    .container_auth-login{
        padding: 5px;
    }

    .btn-login{
        background-color: #cf0a2c;
        color: #fff;
        border-color: #cf0a2c;
        border: 1px solid #cf0a2c;
        border-radius: 3px;
        padding: 7px;
        font-size: 16px;
        line-height:0;
        width: 249px;
        margin-bottom: 20px;

    }

    .btn-login:hover {
        background-color: white;
        color: #000;
        cursor: pointer;        
    }

    .container_fpu-login, .auth_social{
        margin-top: 15px;
        padding: 10px 10px 33px 3px;
    }

    .btn-google {
        background-color: white;
        border: 0;
        color: #fff;
    }

    .imgpro{
        width: 94%;
        height: auto;  
        padding: 0px 0px 0px 0px;      
    }

    .imgpro:hover{
        -webkit-box-shadow: -1px 0px 5px 1px rgba(0,32,242,0.64);
        -moz-box-shadow: -1px 0px 5px 1px rgba(0,32,242,0.64);
        box-shadow: -1px 0px 5px 1px rgba(0,32,242,0.64);   
    }

    .btn-facebook {
        background-color: white;
        padding: 7px;
        border: 0;
        color: #fff;
        
    }

    .auth_social {
        margin-top: 15px;
        padding: 17px 10px 11px 10px;
        margin-bottom: -23px;
        text-align: center;
    }

    .auth_social h2 {
        width: 90%; 
        text-align: center; 
        border-bottom: 1px solid #424242; 
        line-height: 0.1em;
        margin:9px 18px 20px;
    }

    .auth_social span {
            background:#fff; 
            padding:0 10px;    
            color: #424242;    
    }


    /*Style register user*/
  
 

    .navegationHelp{
        margin-left: auto;
        position: relative;
        padding: 15px;
        width: 300px;   
    }

    .navegationHelp p{
        float: right;
    }

    .div_title-user{
        width: 91%; 
        padding: 6px 0px;
        border-bottom: 1px solid #eee;
        margin-bottom: 35px;
    }

    .div_title-user p {
        font-size: 24px;
        font-weight: 400;
        padding: 6px 0px;
        color: #424242;
    }

    .container_full{
        position: relative;
    }

    .input-form-control{
        width: 90%;
        height: 20px;
        border: 1px solid #e8e8e8;
        border-radius: 3px;
        padding: 7px;
        margin: 9px 1px 4px;
        color: #424242;
        font-size: 17px;
    }

    .ui_form-register{
        width: 423px;
    }
    .main_page-user{
        margin-bottom: 25px;
    }
    .container_fpu{
        margin: 0 auto;
        width: 100%;
    }

    .btn{
        width: 100%;
        height: 42px;
        margin-bottom: -11px;
     }

    .btn-register{
        background-color: #cf0a2c;
        color: #fff;
        border-color: #cf0a2c;
        border: 1px solid #cf0a2c;
        border-radius: 4px;
        font-size: 16px;
        line-height:0;
    }

    .content p, .item-send{
        display: none;
    }

    .item-image-container img{
        margin: 0px 1em;
        width: 128px;
    }

    .content{
        width: 126px;
    }

    .item-slide-products{
        width: 160px !important;
        height: 250px;
        background-color: #fff;
        border-radius: 4px;
    }

    .slide-item{
        margin-bottom: -20px;
    }

    .home-ticket{
        display: none;
    }

    /*Style payments*/

    .styles_overlay__CLSq-{
        background: rgba(0, 0, 0, 0.18);   
    }

    .styles_modal__gNwvD{
        margin-top: 7%;
    }

    .payment-info-box1{
        width: 33.33%;
        text-align: center;
        
    }

    .Efect, .plus, .tranfer {
        font-size: 26px;
        color: #cf0a2c;
        margin-bottom: 3px;
    }

    .clearfix{
        padding: 15px 0px;
    }

    .clearfix h1{
        font-size: 12px;
        font-weight: 300;
        color: #424242;
    }

    .clearfix a{
        text-decoration: none;
        color: #007bff;
        font-size: 12px;
    }

    .sw-mobile-banner img{
        max-width: 100%;
    }

    /* Style blog novedades*/
    .icon_social-news img{
        width: 280px;
        height: 54px;  
        margin-top: 20px;
    }

    .blog-info{
        display: block;
    }
    .icon_social-news{
        width: 100%;
        height: auto;
    }

    .icon_social-news-rl{
        text-align: center;
    }

    .icon_social-news-rl img{
        width: 60px;
        height: 60px;
    }

    .logo-footer img{
        width: 47px;
        height: 42px;
        margin: .2em .1em;
    }

}

@media (min-width: 475px){
    .nav-link-footer a {
        width: 33%;
 }
}

 @media (max-width: 475px){
    .icon_social-news-rl img{
        width: 42px;
        height: 42px;
    }

    .dw-footer p{
        font-size: 14px;
        line-height: 4.1em;
        white-space: nowrap;
    }

    .nav-footer-info-mobile{
        width: 100%;
    }

    .icon_social-news img{
        width: 260px;
        height: 50px;
        margin-top: 20px;  
    }
 
}
.slide-item-mb{
    margin-bottom: 20px;
}

.finding{
    margin-top: 10px;
}